:root {
  --O-color: #2196f3;
  --X-color: #f44336;
  --E-color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: #eee;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #555;
  margin-bottom: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 1rem;
}

.board.game-over {
  opacity: 0.6;
}

.cell:not(.O):not(.X):hover {
  box-shadow: 0 20px 25px -5px rgb(0,0,0,0.1), 0 10px 10px -5px rgb(0,0,0,0.04);
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;
  cursor: pointer;
}

.cell.O, .cell.X, .game-over .cell {
  cursor: not-allowed;
}

.cell.O {
  background-color: var(--O-color);
}

.cell.X {
  background-color: var(--X-color);
}

footer {
  text-align: center;
}


.player {
  text-align: center;
  margin-bottom: 15px;
}

.winner-message {
  margin: 2rem;
}

.winner-message span.O, .player.O {
  color: var(--O-color);
}

.winner-message span.X, .player.X {
  color: var(--X-color);
}

.winner-message span.E {
  color: var(--E-color);
}

.reset-button, .reset-game {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0,0,0,0.1), 0, 1px 2px 0 rgb(0,0,0,0.06);
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

.reset-button {
  background-color: var(--O-color);
}

.reset-game {
  background-color: var(--X-color);
}

.custom-select {
  width:200px;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

select {
  height: 40px;
  width: 100% !important;
  border: 1px solid #a1a1a1;
  border-radius: 0;
  cursor: pointer;
  align-items: center;
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-template-rows: repeat(1, 30px);
  margin: 10px 0 10px 8px;
  gap: 1rem;
}

.name {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #00000066;
}

.name.user {
  background-color: var(--O-color);
}

.name.robot {
  background-color: var(--X-color);
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

/* Flex Container */
.container {
	max-width: 420px;
	margin: 0 auto;
	display: flex;
}

.column {
	min-height: 200px;
	flex-direction: column;
}

/* Flex Item */
.item {
	margin: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.5em;
}

/* Indica que o conteúdo deve se expandir */
.flex {
	flex: 1;
}